{% extends 'base.html' %}

{% load static %}

{% block nav %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">DASHospital</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>

{% endblock nav %}


{% block body %}

<header class="masthead text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1>
         AVAILABLE FOR EMERGENCY
        </h1>
        <table style="width:100%">
        <tr>
          <td>Name</td>
          <td>ID</td> 
        </tr>
        {% for i in list %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.id}}</td> 
        </tr>
    
        {% endfor %}
 
        </table>
       
      </div>
      <p>If you need contact information please click the button below. </p>
      <p>As clicking the button, you agree to the privacy statment of DASHospital.</p>
      <p><a href = "/Doctor/emergency/phone" > Click </a></p>
    </div>
  </div>
</header>

<h1></h1>
{% endblock body %}
