{% extends 'base.html' %}

{% block nav %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">DASHospital</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

{% endblock nav %}

{% block body %}

<header class="masthead text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
         Schedule Update 
        </h1>
          <form action='.' method = 'POST'> {% csrf_token %}
            {{ form.as_p }}
            <input type ='submit' value = 'UPDATE' />
          </form>
        <hr>
     
      </div>
      <div class="col-lg-8 mx-auto">
      
      </div>

    </div>
  </div>
</header>

<h1></h1>
{% endblock %}